# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Model artifacts
# *.pkl
# !*.sha256
# Model is going to be pushed because its a relatively small model ( < 1MB)

# Datasets
paysim_sample.csv

# MLflow
mlruns/

# MinIO local data
minio-data/

# Environment
.env

.terraform
terraform.*
.terraform.*
terraform/sentinalbank-deployer-key.pem


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
